/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
}

@media (min-width: 768px) {
  .logo {
    width: 48rem;
  }
}

.logoLight {
  display: block;
}

.logoDark {
  display: none;
}

:global([data-theme="dark"]) .logoLight {
  display: none;
}

:global([data-theme="dark"]) .logoDark {
  display: block;
}
